<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeqifu.sys.mapper.UserMapper">

<!--                   a.id,a.name,a.loginname,a.pwd,a.address,a.sex,a.remark,a.deptid,a.hiredate,-->
<!--                a.mgr,a.available,a.ordernum,a.type,a.imgpath,a.salt,-->
    <select id="getList" resultType="com.yeqifu.sys.entity.User">
        select *,
               (select `name` from sys_user where id = a.mgr) as leadername,
               (select `name` from sys_dept where id = deptid) as deptname
        from sys_user a where `type`=1
        <if test="userVo.name != null and userVo.name != 0">
            and (
            loginname like concat('%',#{userVo.name},'%') or
            `name` like concat('%',#{userVo.name},'%')
            )
        </if>
        <if test="userVo.address != null and userVo.address != 0">
            and address like concat('%',#{userVo.address},'%')
        </if>
        <if test="userVo.deptid != null and userVo.deptid != 0">
            and deptid = #{userVo.deptid}
        </if>
        order by id desc

    </select>

</mapper>
